@model Softwarehouse.ViewModels.LoginViewModel
@{
    ViewBag.Title = "登入";
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        $(document).ready(function () {
            var validator = $("#FormLogin").validate({
                rules: {
                    Account: { required: true },
                    Password: { required: true }
                },
                errorElement: "em",
                errorPlacement: function (error, element) {
                    // Add the `help-block` class to the error element
                    error.addClass("help-block");

                    if (element.prop("type") === "checkbox") {
                        error.insertAfter(element.parent("label"));
                    } else {
                        error.insertAfter(element);
                    }
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).parents(".col-sm-5").addClass("has-error").removeClass("has-success");
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).parents(".col-sm-5").addClass("has-success").removeClass("has-error");
                }
            });
            $('#btnLogin').click(function () {
                if ($("#FormLogin").valid()) {
                    $('#FormLogin').submit();
                }
            });
        });
    </script>
</head>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">登入</h3>
                </div>
                <div class="panel-body">
                    <form id="FormLogin" method="post" class="form-horizontal" action="@Url.Action("Login", "Login")">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="Account">@Html.LabelFor(m => m.Account)</label>
                            <div class="col-sm-5">
                                @Html.TextBoxFor(m => m.Account, new { @class = "form-control", placeholder = "帳號" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="Password">@Html.LabelFor(m => m.Password)</label>
                            <div class="col-sm-5">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "密碼" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-4">
                                <button type="button" class="btn btn-primary" id="btnLogin">登入</button>
                            </div>
                        </div>
                    </form>

                    <div class="login-help">
                        <a href="@Url.Action("Index", "Register")">註冊</a> • <a href="@Url.Action("ForgetPassword", "Login")">忘記密碼</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>