@model Softwarehouse.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "註冊帳號";
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/custom/login.css">
    <script src="~/Scripts/custom/login.js"></script>
    <title>@ViewBag.Title</title>
    <script>
        $(document).ready(function () {
            // initialize tooltipster on form input elements
            $('#FormRegister input').tooltipster({
                trigger: 'custom', // default is 'hover' which is no good here
                onlyOne: false,    // allow multiple tips to be open at a time
                position: 'right'  // display the tips to the right of the element
            });
            var validator = $("#FormRegister").validate({
                rules: {
                    Account: {
                        required: true,
                        remote: {
                            url: "@Url.Action("MemberAccountRepeat", "Register")",
                            type: "Get",
                            data: {
                                Account: function () {
                                    return $("#Account").val();
                                }
                            }
                        }
                    },
                    Name: { required: true },
                    Email: {
                        required: true,
                        email: true,
                        remote: {
                            url: '@Url.Action("MemberEmailRepeat", "Register")',
                            type: 'Get',
                            data: {
                                Email: function () {
                                    return $("#Email").val();
                                }
                            }
                        }
                    },
                    Password: { required: true },
                    ConfirmPassword: {
                        required: true,
                        equalTo: "#Password"
                    },
                    agree: { required: true }
                },
                messages: {
                    Account: {
                        remote: "帳號重複"
                    },
                    Email: {
                        remote: "電子信箱重複"
                    },
                    ConfirmPassword: {
                        equalTo:"與密碼不相符"
                    },
                    agree:"請同意我們的隱私權政策"
                },
                // any other options & rules,
                errorPlacement: function (error, element) {
                    var lastError = $(element).data('lastError'),
                        newError = $(error).text();

                    $(element).data('lastError', newError);

                    if (newError !== '' && newError !== lastError) {
                        $(element).tooltipster('content', newError);
                        $(element).tooltipster('show');
                    }
                },
                success: function (label, element) {
                    $(element).tooltipster('hide');
                }
            });
            $('#btnRegister').click(function () {
                if ($("#FormRegister").valid()) {
                    $.ajax({
                        url: '../api/register/MemberRegister',
                        type: 'Post',
                        data: $("#FormRegister").serialize(),
                        success: function (serviceResult) {
                            if (serviceResult.Result) {
                                alert('註冊成功!');
                            }
                            else {
                                alert(serviceResult.ErrorMessage);
                            }
                        }
                    });
                }
            });
        });
    </script>
</head>
<body class="my-login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">免費註冊</h4>
                            <form id="FormRegister" method="POST">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Account)
                                    <input id="Account" type="text" class="form-control" name="Account" autofocus>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Name)
                                    <input id="Name" type="text" class="form-control" name="Name" autofocus>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email)
                                    <input id="Email" type="email" class="form-control" name="Email">
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password)
                                    <input id="Password" type="password" class="form-control" name="Password" data-eye>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword)
                                    <input id="ConfirmPassword" type="password" class="form-control" name="ConfirmPassword" data-eye>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" name="agree" value="agree">
                                        請同意 <a href="#" data-toggle="modal" data-target="#PrivacyModal">隱私權政策</a>
                                    </label>
                                </div>
                                <div class="form-group no-margin">
                                    <button type="button" class="btn btn-primary btn-block" id="btnRegister">
                                        註冊
                                    </button>
                                </div>
                                <div class="margin-top20 text-center">
                                    已經有註冊帳號了? <a href="@Url.Action("Index", "Login")">登入</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

<!-- Modal -->
<div class="modal fade" id="PrivacyModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content text-left">
            @Html.Partial("PrivacyPolicy")
        </div>

    </div>
</div>