@model Softwarehouse.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "註冊帳號";
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration Form</title>
    <link rel="stylesheet" href="~/Content/assets/demo.css">
    <link rel="stylesheet" href="~/Content/assets/form-register.css">
    <script>
        $(document).ready(function () {
            $('#Account').change(function () {
                $.ajax({
                    url: '@Url.Action("CheckAccountIsRepeated", "Register")',
                    type: 'Post',
                    data: { account: $('#Account').val() },
                    success: function (result) {
                        if (result === 'True') {
                            $('#Account').val("");
                            alert('帳號已被使用');
                        }
                    }
                });
            });
        });
    </script>
</head>

<div class="main-content">
    <!-- You only need this form and the form-register.css -->
    <form class="form-register" name="FormRegister" method="post" action="@Url.Action("Register")">
        <div class="form-register-with-email">
            <div class="form-white-background">
                <div class="form-title-row">
                    <h1>免費註冊</h1>
                </div>
                <div class="form-row">
                    <label>
                        <span>@Html.LabelFor(m=>m.Account)</span>
                        @Html.EditorFor(m=>m.Account)
                        @Html.ValidationMessageFor(m => m.Account)
                    </label>
                </div>
                <div class="form-row">
                    <label>
                        <span>@Html.LabelFor(m => m.Name)</span>
                        @Html.EditorFor(m=>m.Name)
                        @Html.ValidationMessageFor(m=>m.Name)
                    </label>
                </div>
                <div class="form-row">
                    <label>
                        <span>@Html.LabelFor(m => m.Email)</span>
                        @Html.EditorFor(m=>m.Email)
                        @Html.ValidationMessageFor(m=>m.Email)
                    </label>
                </div>
                <div class="form-row">
                    <label>
                        <span>@Html.LabelFor(m => m.Password)</span>
                        @Html.EditorFor(m=>m.Password)
                        @Html.ValidationMessageFor(m=>m.Password)
                    </label>
                </div>
                <div class="form-row">
                    <label>
                        <span>@Html.LabelFor(m => m.ConfirmPassword)</span>
                        @Html.EditorFor(m=>m.ConfirmPassword)
                        @Html.ValidationMessageFor(m=>m.ConfirmPassword)
                    </label>
                </div>
                <div class="form-row">
                    <label class="form-checkbox">
                        <input type="checkbox" name="checkbox" checked>
                        <span>I agree to the <a href="#">terms and conditions</a></span>
                    </label>
                </div>
                <div class="form-row">
                    <button type="submit">註冊</button>
                </div>
            </div>
        </div>
    </form>
</div>